<h1>All topics</h1>
<ul>
  <% @topics.each do |topic| %>
    <li>
      <%= link_to 'Upvote', upvote_path(topic), :class => 'upvote', method: 'post', remote: true %>
        <span class='upvote_count'><%= topic.upvotes.count %></span><%= link_to topic.title, topic_path(topic.slug) %>
      </li>
  <% end %>
</ul>
